
.square {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: red;
    /* animation: move-square 2s linear, 
                change-color 4s ease infinite; */
    /* animation-name: change-color, move-square;
    animation-duration: 2s, 4s;
    animation-timing-function: linear, ease; */
    /* animation-direction: reverse; */
    /* animation-iteration-count: infinite; */
}

.square:hover {
    animation: change-color 2s;
}

@keyframes move-square {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100% - 200px);
    }

    50% {
        top: calc(100% - 200px);
        left: calc(100% - 200px);
    }

    75% {
        top: calc(100% - 200px);
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }

}

@keyframes change-color {
    0% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}