
.square {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all 2s ease-in-out;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: green;
}

.square:hover {
    width: 400px;
    background-color: blue;
    opacity: 0;
}